<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Companies</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Authentication problem</div>
            <div class="panel-body">
                <div class="text-danger">
                    Access denied
                </div>
            </div>
        </div>
    </div>
</body>
</html>